[Unit]
Description=A CLJS Board Game
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/cljs-board-game
ExecStart=/home/pi/cljs-board-game/run.zsh

[Install]
WantedBy=multi-user.target 
