/* from
 * https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/
*/
.boardmain {
  display:flex;
  --s: 180px;  /* size  */
  --m: 5px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.board {
  font-size: 0; /*disable white space between inline block element */
}

.board .tile {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}
.board::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 3px),      
                   #000  0 var(--f));
}

@keyframes flex-size {
  0%   {
    font-size: 10px;
  }
  50%   {
    font-size: 14px;
  }
  100%   {
    font-size: 10px;
  }
}

.activate {
  -webkit-animation-name: flex-size;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: flex-size;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: 1;
  animation-name: flex-size;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
